In [795]:
import pandas as pd
import numpy as np
import lxml
import sqlalchemy as sq
import html5lib

In [796]:
html = pd.read_html('https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm')

In [797]:
countries = html[1].head()
countries

,Staat,Official languages,Population,Capital,Currency,Phone,Int.
0,Austria,German,8.4 million,Vienna,euro (EUR),43,.at
1,Belgium,"Dutch (north), French (south), German",11 million,Brussels,euro (EUR),32,.be
2,Bulgaria,Bulgarian,7 million,Sofia,Bulgarian lev (BGN),359,.bg
3,Croatia,Croatian,4.3 million,Zagreb,Croatian kuna (HRK),385,.hr
4,Cyprus,"Greek, Turkish",800 000,Nicosia,euro (EUR),357,.cy

In [798]:
countries.to_csv('countries.csv',index=False)

In [799]:
with pd.ExcelWriter('countries.xlsx') as writer:
    countries.to_excel(writer)

In [800]:
# engine = sq.create_engine('sqlite:///countries.db')
# countries.to_sql("countries", con = engine, index=False)

In [801]:
fires = pd.read_csv('top_20_CA_wildfires.csv')
fires.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0

In [802]:
len(fires['cause'].unique())

5

In [803]:
fires['cause'].value_counts()

cause
Human Related          7
Lightning              7
Powerlines             4
Under Investigation    1
Undetermined           1
Name: count, dtype: int64

In [804]:
fires['year'].value_counts().idxmax()

2018

In [805]:
fires['deaths'].value_counts().drop(0).sum()

10

In [806]:
fires.sort_values(by='year', ascending=False)

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
16,Rough,Lightning,July,2015,Fresno,151623,4,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0
3,Rush,Lightning,August,2012,Lassen,271911,0,0
14,Station,Human Related,August,2009,Los Angeles,160557,209,2
9,Klamath Theater Complex,Lightning,June,2008,Siskiyou,192038,0,2
12,Basin Complex,Lightning,June,2008,Monterey,162818,58,0
8,Witch,Powerlines,October,2007,San Diego,197990,1650,2
5,Zaca,Human Related,July,2007,Santa Barbara,240207,1,0
13,Day Fire,Human Related,September,2006,Ventura,162702,11,0
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
17,Mcnally,Human Related,July,2002,Tulare,150696,17,0
19,Big Bar Complex,Lightning,August,1999,Trinity,140948,0,0
18,Stanislaus Complex,Lightning,August,1987,Tuolumne,145980,28,1
10,Marble Cone,Lightning,July,1977,Monterey,177866,0,0
11,Laguna,Powerlines,September,1970,San Diego,175425,382,5
7,Matilija,Undetermined,September,1932,Ventura,220000,0,0

In [807]:
def months_to_number(month):
  menesiai = {'January': 1,
     'February': 2,
     'March': 3,
     'April': 4,
      'May': 5,
      'June': 6,
      'July': 7,
      'August': 8,
      'September': 9,
      'October': 10,
      'November': 11,
      'December': 12}
  return menesiai[month]

In [808]:
fires['month'] = fires['month'].apply(months_to_number)

In [809]:
fires.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,7,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,12,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,10,2003,San Diego,273246,2820,15
3,Rush,Lightning,8,2012,Lassen,271911,0,0
4,Rim,Human Related,8,2013,Tuolumne,257314,112,0

In [810]:
data = pd.read_html('https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus')

In [811]:
len(data)

5

In [812]:
miestai = data[0]

In [813]:
miestai.head()

,Eilė,Miestas,2021 m.,2011 m.,2001 m.,1989 m.,1979 m.,1970 m.,1959 m.,1923 m.,1897 m.,Tankumas (2019)
0,1,Vilnius,546155,524406,542287,576747,475825,372100.0,236078.0,167400,154532*,1374 žm./km²
1,2,Kaunas,298753,315993,378943,418087,368649,305116.0,219287.0,92446,70920*,1843 žm./km²
2,3,Klaipėda,152008,162360,192954,202929,176648,140012.0,90521.0,35845,20100,1356 žm./km²
3,4,Šiauliai,100653,109328,133883,145629,118724,93057.0,59722.0,21387,16128*,1251 žm./km²
4,5,Panevėžys,89110,99690,119749,126483,102303,73328.0,41096.0,19197,12968*,1590 žm./km²

In [814]:
miestai.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Eilė             103 non-null    int64
 1   Miestas          103 non-null    object
 2   2021 m.          103 non-null    int64
 3   2011 m.          103 non-null    int64
 4   2001 m.          103 non-null    int64
 5   1989 m.          103 non-null    int64
 6   1979 m.          103 non-null    int64
 7   1970 m.          102 non-null    float64
 8   1959 m.          101 non-null    float64
 9   1923 m.          96 non-null     object
 10  1897 m.          94 non-null     object
 11  Tankumas (2019)  103 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 9.8+ KB

In [815]:
miestai.set_index('Miestas', inplace=True)

In [816]:
cols = miestai.columns.to_list()
cols

['Eilė',
 '2021\xa0m.',
 '2011\xa0m.',
 '2001\xa0m.',
 '1989\xa0m.',
 '1979\xa0m.',
 '1970\xa0m.',
 '1959\xa0m.',
 '1923\xa0m.',
 '1897\xa0m.',
 'Tankumas (2019)']

In [817]:
col_list = []
for col in cols:
    fixed = col.replace('\xa0m.', '')
    col_list.append(fixed)

miestai.columns = col_list

In [818]:
miestai.head(60)

,Eilė,2021,2011,2001,1989,1979,1970,1959,1923,1897,Tankumas (2019)
Miestas,,,,,,,,,,,
Vilnius,1,546155,524406,542287,576747,475825,372100.0,236078.0,167400,154532*,1374 žm./km²
Kaunas,2,298753,315993,378943,418087,368649,305116.0,219287.0,92446,70920*,1843 žm./km²
Klaipėda,3,152008,162360,192954,202929,176648,140012.0,90521.0,35845,20100,1356 žm./km²
Šiauliai,4,100653,109328,133883,145629,118724,93057.0,59722.0,21387,16128*,1251 žm./km²
Panevėžys,5,89110,99690,119749,126483,102303,73328.0,41096.0,19197,12968*,1590 žm./km²
Alytus,6,52727,59964,71491,73015,55509,28074.0,12350.0,6322,3445,1039 žm./km²
Marijampolė,7,36727,41051,48675,50887,38824,28763.0,19621.0,9488,6777,999 žm./km²
Mažeikiai,8,33101,37020,42675,43547,25779,13468.0,7957.0,4300,1979,1425 žm./km²
Jonava,9,27381,30650,34954,36520,28413,14438.0,5005.0,4115,5000,1933 žm./km²
Utena,10,25343,28997,33860,34430,23461,13319.0,7158.0,4890,3200,1658 žm./km²
Kėdainiai,11,23461,26648,32048,33840,27886,19677.0,10580.0,7415,6113,841 žm./km²
Telšiai,12,22642,25540,31460,33351,26369,20220.0,13460.0,4691,6205*,920 žm./km²
Ukmergė,13,21258,23878,28759,30410,26601,21663.0,14880.0,10604,13532*,981 žm./km²
Tauragė,14,21203,24389,29124,30119,25966,19461.0,12041.0,5470,6600,1288 žm./km²
Visaginas,15,19446,22361,29554,32438,6212,NaN,NaN,NaN,NaN,1953 žm./km²
Plungė,16,17543,20041,23436,22535,18829,13560.0,3672.0,4236,4500,1422 žm./km²
Kretinga,17,17249,19010,21423,19516,16197,13091.0,9690.0,2532,3418,850 žm./km²
Palanga,18,16746,15732,17623,17571,11980,8797.0,5685.0,2000,2400,1462 žm./km²
Šilutė,19,15952,17775,21476,21179,16000,12401.0,8969.0,4348,2100,1070 žm./km²
Radviliškis,20,15103,17254,20339,21263,19232,16841.0,12613.0,5464,3900,875 žm./km²
Gargždai,21,15065,15021,15212,13409,10042,6414.0,1524.0,4700,3360,1307 žm./km²
Druskininkai,22,12908,14764,18233,18943,12464,11160.0,5765.0,1000,1280,503 žm./km²
Rokiškis,23,11770,14351,16746,17826,13192,9146.0,5520.0,4325,2700,1027 žm./km²
Elektrėnai,24,11255,12012,14050,15871,8466,6646.0,NaN,NaN,NaN,490 žm./km²
Kuršėnai,25,10916,11963,14197,14796,13223,11468.0,9099.0,2900,3200,925 žm./km²
Biržai,26,10734,12465,15262,15907,14401,11385.0,8624.0,5315,4413,651 žm./km²
Garliava,27,10366,11264,13322,12420,9418,5587.0,2489.0,936,1200,2633 žm./km²
Vilkaviškis,28,10286,11547,13283,13829,11836,8566.0,5072.0,7263,5788*,1251 žm./km²
Jurbarkas,29,10186,11232,13797,14310,10644,6575.0,4412.0,4409,7400,763 žm./km²
Grigiškės,30,9950,10867,11448,11610,8259,4991.0,2559.0,NaN,NaN,1523 žm./km²
Raseiniai,31,9865,11203,12541,13211,11403,8931.0,6242.0,5270,7455*,1140 žm./km²
Lentvaris,32,9713,11105,11773,12964,10167,8059.0,4216.0,2000,385,1318 žm./km²
Prienai,33,8796,9867,11353,11909,9398,7841.0,5423.0,3260,2477*,1017 žm./km²
Anykščiai,34,8697,10575,11958,12758,10325,8238.0,5442.0,3500,3900,739 žm./km²
Joniškis,35,8612,9899,11329,11773,9303,7522.0,5889.0,4100,4828,925 žm./km²
Kaišiadorys,36,8380,8664,10002,10964,9022,4701.0,3011.0,1929,833,490 žm./km²
Varėna,37,8202,9240,10845,12291,8015,4494.0,2391.0,407,2624,675 žm./km²
Naujoji Akmenė,38,7985,9300,12345,13590,14195,10175.0,5410.0,NaN,NaN,780 žm./km²
Kelmė,39,7688,9150,10900,11557,9073,7087.0,5140.0,2900,3914,955 žm./km²
Šalčininkai,40,6857,6358,6722,6480,3857,1753.0,1676.0,687,459,2253 žm./km²
Pasvalys,41,6451,7523,8709,9071,7370,6027.0,4248.0,2211,1699,877 žm./km²
Kupiškis,42,6218,7206,8451,8786,6307,4876.0,4127.0,2672,3742,920 žm./km²
Zarasai,43,6077,7165,8365,8916,7250,6605.0,4717.0,3785,6359*,473 žm./km²
Širvintos,44,5827,6415,7273,7442,5146,3073.0,1652.0,2000,1676,1389 žm./km²
Molėtai,45,5782,6434,7221,6843,5165,3665.0,1912.0,1770,2397,1454 žm./km²
Kazlų Rūda,46,5590,6635,7401,7715,6312,4397.0,3478.0,1338,771,1409 žm./km²
Skuodas,47,5508,6513,7896,8730,7269,4693.0,3131.0,3614,3041,1054 žm./km²
Šakiai,48,5462,6051,6795,7226,5955,4227.0,2998.0,2044,2211*,714 žm./km²
Trakai,49,5426,4933,5725,6703,5763,4667.0,3075.0,(??),3240*,358 žm./km²
Ignalina,50,5106,6007,6591,6872,4927,3515.0,2466.0,1500,300,701 žm./km²
Pabradė,51,4918,5994,6525,7360,6655,5919.0,4489.0,1835,503,487 žm./km²
Nemenčinė,52,4831,5054,5892,5612,4075,3208.0,2081.0,(??),420,940 žm./km²
Švenčionėliai,53,4748,5771,6923,7712,6566,5964.0,4920.0,(??),(?),819 žm./km²
Šilalė,54,4729,5492,6281,6308,4242,2975.0,1972.0,1058,1502,1353 žm./km²
Pakruojis,55,4594,5139,6057,6218,4809,3852.0,2427.0,1184,1420,1088 žm./km²
Švenčionys,56,4448,4963,5684,6469,5284,4616.0,4006.0,(??),6025*,641 žm./km²
Vievis,57,4311,4915,5303,5663,4581,2957.0,2275.0,414,725,1070 žm./km²
Kybartai,58,4126,5631,6556,7064,6676,6430.0,6240.0,6300,2364,959 žm./km²
Lazdijai,59,4016,4531,5140,5485,4364,3928.0,3109.0,2364,2538,756 žm./km²
Kalvarija,60,3982,4457,5090,5701,5879,5600.0,4698.0,4529,9378*,669 žm./km²

In [819]:
def to_number(num):
    final = ''
    if type(num) == int:
        return num
    else:
        for x in str(num):
            if x.isdecimal() or x == ".":
                final += x
        if len(final) > 0:
            return int(float(final)) 
        return int(0)

In [820]:
miestai['1897'] = miestai['1897'].apply(to_number)

In [821]:
miestai['1959'] = miestai['1959'].apply(to_number)

In [822]:
miestai['1923'] = miestai['1923'].apply(to_number)

In [823]:
miestai['1970'] = miestai['1970'].apply(to_number)

In [826]:
miestai['Tankumas (2019)'] = miestai['Tankumas (2019)'].apply(to_number)

In [827]:
miestai.info()

<class 'pandas.core.frame.DataFrame'>
Index: 103 entries, Vilnius to Panemunė
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Eilė             103 non-null    int64
 1   2021             103 non-null    int64
 2   2011             103 non-null    int64
 3   2001             103 non-null    int64
 4   1989             103 non-null    int64
 5   1979             103 non-null    int64
 6   1970             103 non-null    int64
 7   1959             103 non-null    int64
 8   1923             103 non-null    int64
 9   1897             103 non-null    int64
 10  Tankumas (2019)  103 non-null    int64
dtypes: int64(11)
memory usage: 9.7+ KB

In [ ]:
top_left = pd.read_csv('top1-25-1.csv')
top_right = pd.read_csv('top1-25-2.csv')
bottom_left = pd.read_csv('top26-50-1.csv')
bottom_right = pd.read_csv('top26-50-2.csv')

In [ ]:
bottom_data = pd.concat([bottom_left, bottom_right], axis = 1)
top_data = pd.merge(top_left, top_right, on= ['Track.Name', 'Popularity'])
data = pd.concat([bottom_data, top_data], sort = False)
data

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70.0
1,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83.0
2,It's You,Ali Gatie,canadian hip hop,96,46,73,-7,19,40,213,37,3,89.0
3,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91.0
4,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89.0
5,Takeaway,The Chainsmokers,edm,85,51,29,-8,10,36,210,12,4,84.0
6,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89.0
7,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89.0
8,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,98,59,80,-7,13,18,200,2,15,89.0
9,Never Really Over,Katy Perry,dance pop,100,88,77,-5,32,39,224,19,6,89.0
10,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,114,72,66,-7,14,32,164,18,6,89.0
11,Otro Trago,Sech,panamanian pop,176,70,75,-5,11,62,226,14,34,91.0
12,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87.0
13,Sucker,Jonas Brothers,boy band,138,73,84,-5,11,95,181,4,6,80.0
14,"fuck, i'm lonely (with Anne-Marie) - from 13 R...",Lauv,dance pop,95,56,81,-6,6,68,199,48,7,78.0
15,Higher Love,Kygo,edm,104,68,69,-7,10,40,228,2,3,88.0
16,You Need To Calm Down,Taylor Swift,dance pop,85,68,77,-6,7,73,171,1,5,90.0
17,Shallow,Lady Gaga,dance pop,96,39,57,-6,23,32,216,37,3,87.0
18,Talk,Khalid,pop,136,40,90,-9,6,35,198,5,13,84.0
19,Con Altura,ROSALNA,r&b en espanol,98,69,88,-4,5,75,162,39,12,88.0
20,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88.0
21,Te Robar,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88.0
22,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,NaN
23,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88.0
24,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,95,79,75,-6,7,61,206,21,12,82.0
0,Senorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79.0
1,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92.0
2,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85.0
3,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,NaN
4,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94.0
5,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84.0
6,Ransom,Lil Tecca,trap music,180,64,75,-6,7,23,131,2,29,92.0
7,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90.0
8,Old Town Road - Remix,Lil Nas X,country rap,136,62,88,-6,11,64,157,5,10,87.0
9,bad guy,Billie Eilish,electropop,135,43,70,-11,10,56,194,33,38,95.0
10,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93.0
11,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96,71,82,-4,15,38,185,28,7,86.0
12,Someone You Loved,Lewis Capaldi,pop,110,41,50,-6,11,45,182,75,3,88.0
13,Otro Trago - Remix,Sech,panamanian pop,176,79,73,-2,6,76,288,7,20,87.0
14,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,101,50,83,-4,12,10,205,10,5,92.0
15,No Guidance (feat. Drake),Chris Brown,dance pop,93,45,70,-7,16,14,261,12,15,82.0
16,LA CANCION,J Balvin,latin,176,65,75,-6,11,43,243,15,32,90.0
17,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,90,48,76,-6,7,91,158,56,5,91.0
18,Lalala,Y2K,NaN,130,39,84,-8,14,50,161,18,8,88.0
19,Truth Hurts,Lizzo,escape room,158,62,72,-3,12,41,173,11,11,91.0
20,Piece Of Your Heart,MEDUZA,pop house,124,74,68,-7,7,63,153,4,3,91.0
21,Panini,Lil Nas X,country rap,154,59,70,-6,12,48,115,34,8,91.0
22,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,92,79,81,-4,9,58,309,14,7,83.0
23,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91.0
24,bad guy (with Justin Bieber),Billie Eilish,electropop,135,45,67,-11,12,68,195,25,30,NaN

In [ ]:
data.head()

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70.0
1,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83.0
2,It's You,Ali Gatie,canadian hip hop,96,46,73,-7,19,40,213,37,3,89.0
3,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91.0
4,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89.0

In [ ]:
data['NR.'] = range(1,51)

data.set_index("NR.",inplace = True)

data

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
NR.,,,,,,,,,,,,,
1,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70.0
2,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83.0
3,It's You,Ali Gatie,canadian hip hop,96,46,73,-7,19,40,213,37,3,89.0
4,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91.0
5,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89.0
6,Takeaway,The Chainsmokers,edm,85,51,29,-8,10,36,210,12,4,84.0
7,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89.0
8,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89.0
9,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,98,59,80,-7,13,18,200,2,15,89.0
10,Never Really Over,Katy Perry,dance pop,100,88,77,-5,32,39,224,19,6,89.0
11,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,114,72,66,-7,14,32,164,18,6,89.0
12,Otro Trago,Sech,panamanian pop,176,70,75,-5,11,62,226,14,34,91.0
13,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87.0
14,Sucker,Jonas Brothers,boy band,138,73,84,-5,11,95,181,4,6,80.0
15,"fuck, i'm lonely (with Anne-Marie) - from 13 R...",Lauv,dance pop,95,56,81,-6,6,68,199,48,7,78.0
16,Higher Love,Kygo,edm,104,68,69,-7,10,40,228,2,3,88.0
17,You Need To Calm Down,Taylor Swift,dance pop,85,68,77,-6,7,73,171,1,5,90.0
18,Shallow,Lady Gaga,dance pop,96,39,57,-6,23,32,216,37,3,87.0
19,Talk,Khalid,pop,136,40,90,-9,6,35,198,5,13,84.0
20,Con Altura,ROSALNA,r&b en espanol,98,69,88,-4,5,75,162,39,12,88.0
21,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88.0
22,Te Robar,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88.0
23,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,NaN
24,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88.0
25,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,95,79,75,-6,7,61,206,21,12,82.0
26,Senorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79.0
27,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92.0
28,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85.0
29,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,NaN
30,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94.0
31,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84.0
32,Ransom,Lil Tecca,trap music,180,64,75,-6,7,23,131,2,29,92.0
33,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90.0
34,Old Town Road - Remix,Lil Nas X,country rap,136,62,88,-6,11,64,157,5,10,87.0
35,bad guy,Billie Eilish,electropop,135,43,70,-11,10,56,194,33,38,95.0
36,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93.0
37,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96,71,82,-4,15,38,185,28,7,86.0
38,Someone You Loved,Lewis Capaldi,pop,110,41,50,-6,11,45,182,75,3,88.0
39,Otro Trago - Remix,Sech,panamanian pop,176,79,73,-2,6,76,288,7,20,87.0
40,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,101,50,83,-4,12,10,205,10,5,92.0
41,No Guidance (feat. Drake),Chris Brown,dance pop,93,45,70,-7,16,14,261,12,15,82.0
42,LA CANCION,J Balvin,latin,176,65,75,-6,11,43,243,15,32,90.0
43,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,90,48,76,-6,7,91,158,56,5,91.0
44,Lalala,Y2K,NaN,130,39,84,-8,14,50,161,18,8,88.0
45,Truth Hurts,Lizzo,escape room,158,62,72,-3,12,41,173,11,11,91.0
46,Piece Of Your Heart,MEDUZA,pop house,124,74,68,-7,7,63,153,4,3,91.0
47,Panini,Lil Nas X,country rap,154,59,70,-6,12,48,115,34,8,91.0
48,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,92,79,81,-4,9,58,309,14,7,83.0
49,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91.0
50,bad guy (with Justin Bieber),Billie Eilish,electropop,135,45,67,-11,12,68,195,25,30,NaN

In [ ]:
genre = data.groupby("Genre")
genre

In [ ]:
genre_counted = genre.count()
genre_counted

,Track.Name,Artist.Name,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
Genre,,,,,,,,,,,,
atl hip hop,1,1,1,1,1,1,1,1,1,1,1,1
australian pop,1,1,1,1,1,1,1,1,1,1,1,1
big room,1,1,1,1,1,1,1,1,1,1,1,1
boy band,1,1,1,1,1,1,1,1,1,1,1,1
brostep,2,2,2,2,2,2,2,2,2,2,2,1
canadian hip hop,2,2,2,2,2,2,2,2,2,2,2,2
canadian pop,2,2,2,2,2,2,2,2,2,2,2,2
country rap,2,2,2,2,2,2,2,2,2,2,2,2
dance pop,8,8,8,8,8,8,8,8,8,8,8,8
dfw rap,2,2,2,2,2,2,2,2,2,2,2,2
edm,3,3,3,3,3,3,3,3,3,3,3,3
electropop,2,2,2,2,2,2,2,2,2,2,2,1
escape room,1,1,1,1,1,1,1,1,1,1,1,1
latin,5,5,5,5,5,5,5,5,5,5,5,5
panamanian pop,2,2,2,2,2,2,2,2,2,2,2,2
pop,6,6,6,6,6,6,6,6,6,6,6,5
pop house,1,1,1,1,1,1,1,1,1,1,1,1
r&b en espanol,1,1,1,1,1,1,1,1,1,1,1,1
reggaeton,2,2,2,2,2,2,2,2,2,2,2,2
reggaeton flow,2,2,2,2,2,2,2,2,2,2,2,2
trap music,1,1,1,1,1,1,1,1,1,1,1,1

In [ ]:
genre_counted[genre_counted['Track.Name'] > 3]

,Track.Name,Artist.Name,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
Genre,,,,,,,,,,,,
dance pop,8,8,8,8,8,8,8,8,8,8,8,8
latin,5,5,5,5,5,5,5,5,5,5,5,5
pop,6,6,6,6,6,6,6,6,6,6,6,5

In [ ]:
most_popular_genre = genre.mean(['Popularity'])
most_popular_genre

,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
Genre,,,,,,,,,,
atl hip hop,98.000000,59.000000,80.000000,-7.000000,13.000000,18.000,200.000000,2.000000,15.000000,89.000000
australian pop,98.000000,59.000000,82.000000,-6.000000,18.000000,54.000,210.000000,69.000000,10.000000,83.000000
big room,114.000000,72.000000,66.000000,-7.000000,14.000000,32.000,164.000000,18.000000,6.000000,89.000000
boy band,138.000000,73.000000,84.000000,-5.000000,11.000000,95.000,181.000000,4.000000,6.000000,80.000000
brostep,94.000000,70.500000,67.500000,-2.500000,37.500000,55.500,198.000000,13.000000,5.000000,88.000000
canadian hip hop,98.500000,48.000000,78.000000,-5.500000,15.500000,25.000,209.000000,23.500000,4.000000,90.500000
canadian pop,120.500000,68.500000,72.500000,-5.000000,10.500000,81.000,191.000000,26.500000,4.500000,74.500000
country rap,145.000000,60.500000,79.000000,-6.000000,11.500000,56.000,136.000000,19.500000,9.000000,89.000000
dance pop,111.875000,59.875000,70.250000,-6.125000,15.500000,45.875,202.625000,27.000000,15.250000,85.750000
dfw rap,120.000000,56.500000,67.000000,-5.000000,9.000000,54.500,166.500000,50.500000,6.000000,92.500000
edm,97.666667,63.000000,52.333333,-7.000000,20.333333,42.000,218.666667,12.333333,3.333333,86.666667
electropop,135.000000,44.000000,68.500000,-11.000000,11.000000,62.000,194.500000,29.000000,34.000000,95.000000
escape room,158.000000,62.000000,72.000000,-3.000000,12.000000,41.000,173.000000,11.000000,11.000000,91.000000
latin,126.200000,76.600000,72.000000,-4.200000,21.000000,72.600,225.200000,17.800000,14.600000,89.800000
panamanian pop,176.000000,74.500000,74.000000,-3.500000,8.500000,69.000,257.000000,10.500000,27.000000,89.000000
pop,117.333333,60.666667,67.333333,-6.333333,13.000000,57.500,193.666667,21.500000,8.833333,86.600000
pop house,124.000000,74.000000,68.000000,-7.000000,7.000000,63.000,153.000000,4.000000,3.000000,91.000000
r&b en espanol,98.000000,69.000000,88.000000,-4.000000,5.000000,75.000,162.000000,39.000000,12.000000,88.000000
reggaeton,136.000000,66.500000,69.500000,-5.000000,16.500000,46.000,213.500000,41.000000,29.500000,91.000000
reggaeton flow,98.500000,80.000000,80.000000,-4.000000,8.500000,59.500,305.500000,11.000000,8.000000,87.500000
trap music,180.000000,64.000000,75.000000,-6.000000,7.000000,23.000,131.000000,2.000000,29.000000,92.000000

In [ ]:
print(most_popular_genre['Popularity'].max(),most_popular_genre['Popularity'].idxmax())
print(most_popular_genre['Popularity'].min(),most_popular_genre['Popularity'].idxmin())

95.0 electropop
74.5 canadian pop

In [ ]:
genre = data.groupby('Genre')

In [ ]:
column = data.columns.tolist()[3:]
zanras = genre[column].mean().idxmax()
info = genre[column].mean().max()
result = pd.DataFrame([column, zanras, info], 
                      ['Indicator', 'Genre', 'Score']).transpose()
result

          Indicator           Genre  Score
0  Beats.Per.Minute      trap music  180.0
1            Energy  reggaeton flow   80.0
2      Danceability  r&b en espanol   88.0
3    Loudness..dB..         brostep   -2.5
4          Liveness         brostep   37.5
5          Valence.        boy band   95.0
6           Length.  reggaeton flow  305.5
7    Acousticness..  australian pop   69.0
8      Speechiness.      electropop   34.0
9        Popularity      electropop   95.0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 1 to 50
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Track.Name        50 non-null     object
 1   Artist.Name       50 non-null     object
 2   Genre             48 non-null     object
 3   Beats.Per.Minute  50 non-null     int64
 4   Energy            50 non-null     int64
 5   Danceability      50 non-null     int64
 6   Loudness..dB..    50 non-null     int64
 7   Liveness          50 non-null     int64
 8   Valence.          50 non-null     int64
 9   Length.           50 non-null     int64
 10  Acousticness..    50 non-null     int64
 11  Speechiness.      50 non-null     int64
 12  Popularity        47 non-null     float64
dtypes: float64(1), int64(9), object(3)
memory usage: 5.5+ KB

In [ ]:
data[data['Genre'].isnull() | data['Popularity'].isnull()]

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
NR.,,,,,,,,,,,,,
23,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,NaN
25,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,NaN,95,79,75,-6,7,61,206,21,12,82.0
29,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,NaN
44,Lalala,Y2K,NaN,130,39,84,-8,14,50,161,18,8,88.0
50,bad guy (with Justin Bieber),Billie Eilish,electropop,135,45,67,-11,12,68,195,25,30,NaN

In [ ]:
data['Genre'] = data['Genre'].fillna('pop')
data

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
NR.,,,,,,,,,,,,,
1,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70.0
2,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83.0
3,It's You,Ali Gatie,canadian hip hop,96,46,73,-7,19,40,213,37,3,89.0
4,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91.0
5,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89.0
6,Takeaway,The Chainsmokers,edm,85,51,29,-8,10,36,210,12,4,84.0
7,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89.0
8,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89.0
9,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,98,59,80,-7,13,18,200,2,15,89.0
10,Never Really Over,Katy Perry,dance pop,100,88,77,-5,32,39,224,19,6,89.0
11,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,114,72,66,-7,14,32,164,18,6,89.0
12,Otro Trago,Sech,panamanian pop,176,70,75,-5,11,62,226,14,34,91.0
13,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87.0
14,Sucker,Jonas Brothers,boy band,138,73,84,-5,11,95,181,4,6,80.0
15,"fuck, i'm lonely (with Anne-Marie) - from 13 R...",Lauv,dance pop,95,56,81,-6,6,68,199,48,7,78.0
16,Higher Love,Kygo,edm,104,68,69,-7,10,40,228,2,3,88.0
17,You Need To Calm Down,Taylor Swift,dance pop,85,68,77,-6,7,73,171,1,5,90.0
18,Shallow,Lady Gaga,dance pop,96,39,57,-6,23,32,216,37,3,87.0
19,Talk,Khalid,pop,136,40,90,-9,6,35,198,5,13,84.0
20,Con Altura,ROSALNA,r&b en espanol,98,69,88,-4,5,75,162,39,12,88.0
21,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88.0
22,Te Robar,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88.0
23,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,NaN
24,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88.0
25,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82.0
26,Senorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79.0
27,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92.0
28,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85.0
29,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,NaN
30,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94.0
31,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84.0
32,Ransom,Lil Tecca,trap music,180,64,75,-6,7,23,131,2,29,92.0
33,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90.0
34,Old Town Road - Remix,Lil Nas X,country rap,136,62,88,-6,11,64,157,5,10,87.0
35,bad guy,Billie Eilish,electropop,135,43,70,-11,10,56,194,33,38,95.0
36,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93.0
37,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96,71,82,-4,15,38,185,28,7,86.0
38,Someone You Loved,Lewis Capaldi,pop,110,41,50,-6,11,45,182,75,3,88.0
39,Otro Trago - Remix,Sech,panamanian pop,176,79,73,-2,6,76,288,7,20,87.0
40,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,101,50,83,-4,12,10,205,10,5,92.0
41,No Guidance (feat. Drake),Chris Brown,dance pop,93,45,70,-7,16,14,261,12,15,82.0
42,LA CANCION,J Balvin,latin,176,65,75,-6,11,43,243,15,32,90.0
43,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,90,48,76,-6,7,91,158,56,5,91.0
44,Lalala,Y2K,pop,130,39,84,-8,14,50,161,18,8,88.0
45,Truth Hurts,Lizzo,escape room,158,62,72,-3,12,41,173,11,11,91.0
46,Piece Of Your Heart,MEDUZA,pop house,124,74,68,-7,7,63,153,4,3,91.0
47,Panini,Lil Nas X,country rap,154,59,70,-6,12,48,115,34,8,91.0
48,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,92,79,81,-4,9,58,309,14,7,83.0
49,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91.0
50,bad guy (with Justin Bieber),Billie Eilish,electropop,135,45,67,-11,12,68,195,25,30,NaN

In [ ]:
data['Popularity'] = data['Popularity'].fillna(data['Popularity'].mean())
data

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
NR.,,,,,,,,,,,,,
1,If I Can't Have You,Shawn Mendes,canadian pop,124,82,69,-4,13,87,191,49,6,70.000000
2,Dance Monkey,Tones and I,australian pop,98,59,82,-6,18,54,210,69,10,83.000000
3,It's You,Ali Gatie,canadian hip hop,96,46,73,-7,19,40,213,37,3,89.000000
4,Con Calma,Daddy Yankee,latin,94,86,74,-3,6,66,193,11,6,91.000000
5,QUE PRETENDES,J Balvin,latin,93,79,64,-4,36,94,222,3,25,89.000000
6,Takeaway,The Chainsmokers,edm,85,51,29,-8,10,36,210,12,4,84.000000
7,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89.000000
8,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89.000000
9,The London (feat. J. Cole & Travis Scott),Young Thug,atl hip hop,98,59,80,-7,13,18,200,2,15,89.000000
10,Never Really Over,Katy Perry,dance pop,100,88,77,-5,32,39,224,19,6,89.000000
11,Summer Days (feat. Macklemore & Patrick Stump ...,Martin Garrix,big room,114,72,66,-7,14,32,164,18,6,89.000000
12,Otro Trago,Sech,panamanian pop,176,70,75,-5,11,62,226,14,34,91.000000
13,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87.000000
14,Sucker,Jonas Brothers,boy band,138,73,84,-5,11,95,181,4,6,80.000000
15,"fuck, i'm lonely (with Anne-Marie) - from 13 R...",Lauv,dance pop,95,56,81,-6,6,68,199,48,7,78.000000
16,Higher Love,Kygo,edm,104,68,69,-7,10,40,228,2,3,88.000000
17,You Need To Calm Down,Taylor Swift,dance pop,85,68,77,-6,7,73,171,1,5,90.000000
18,Shallow,Lady Gaga,dance pop,96,39,57,-6,23,32,216,37,3,87.000000
19,Talk,Khalid,pop,136,40,90,-9,6,35,198,5,13,84.000000
20,Con Altura,ROSALNA,r&b en espanol,98,69,88,-4,5,75,162,39,12,88.000000
21,One Thing Right,Marshmello,brostep,88,62,66,-2,58,44,182,7,5,88.000000
22,Te Robar,Nicky Jam,latin,176,75,67,-4,8,80,202,24,6,88.000000
23,Happier,Marshmello,brostep,100,79,69,-3,17,67,214,19,5,87.489362
24,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88.000000
25,Cross Me (feat. Chance the Rapper & PnB Rock),Ed Sheeran,pop,95,79,75,-6,7,61,206,21,12,82.000000
26,Senorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79.000000
27,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92.000000
28,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85.000000
29,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,87.489362
30,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94.000000
31,I Don't Care (with Justin Bieber),Ed Sheeran,pop,102,68,80,-5,9,84,220,9,4,84.000000
32,Ransom,Lil Tecca,trap music,180,64,75,-6,7,23,131,2,29,92.000000
33,How Do You Sleep?,Sam Smith,pop,111,68,48,-5,8,35,202,15,9,90.000000
34,Old Town Road - Remix,Lil Nas X,country rap,136,62,88,-6,11,64,157,5,10,87.000000
35,bad guy,Billie Eilish,electropop,135,43,70,-11,10,56,194,33,38,95.000000
36,Callaita,Bad Bunny,reggaeton,176,62,61,-5,24,24,251,60,31,93.000000
37,Loco Contigo (feat. J. Balvin & Tyga),DJ Snake,dance pop,96,71,82,-4,15,38,185,28,7,86.000000
38,Someone You Loved,Lewis Capaldi,pop,110,41,50,-6,11,45,182,75,3,88.000000
39,Otro Trago - Remix,Sech,panamanian pop,176,79,73,-2,6,76,288,7,20,87.000000
40,Money In The Grave (Drake ft. Rick Ross),Drake,canadian hip hop,101,50,83,-4,12,10,205,10,5,92.000000
41,No Guidance (feat. Drake),Chris Brown,dance pop,93,45,70,-7,16,14,261,12,15,82.000000
42,LA CANCION,J Balvin,latin,176,65,75,-6,11,43,243,15,32,90.000000
43,Sunflower - Spider-Man: Into the Spider-Verse,Post Malone,dfw rap,90,48,76,-6,7,91,158,56,5,91.000000
44,Lalala,Y2K,pop,130,39,84,-8,14,50,161,18,8,88.000000
45,Truth Hurts,Lizzo,escape room,158,62,72,-3,12,41,173,11,11,91.000000
46,Piece Of Your Heart,MEDUZA,pop house,124,74,68,-7,7,63,153,4,3,91.000000
47,Panini,Lil Nas X,country rap,154,59,70,-6,12,48,115,34,8,91.000000
48,No Me Conoce - Remix,Jhay Cortez,reggaeton flow,92,79,81,-4,9,58,309,14,7,83.000000
49,Soltera - Remix,Lunay,latin,92,78,80,-4,44,80,266,36,4,91.000000
50,bad guy (with Justin Bieber),Billie Eilish,electropop,135,45,67,-11,12,68,195,25,30,87.489362

In [ ]:
import pandas as pd
import numpy as np

miestas = pd.read_csv('miestai_isvalyti.csv')

miestas.head()

,Miestas,2019,2011,2001,1989,1979,1970,1959,1923,1897
0,Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532
1,Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920
2,Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100
3,Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128
4,Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968

In [ ]:
miestas.set_index("Miestas", inplace = True)

In [ ]:
miestas

,2019,2011,2001,1989,1979,1970,1959,1923,1897
Miestas,,,,,,,,,
Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532
Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920
Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100
Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128
Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968
...,...,...,...,...,...,...,...,...,...
Dusetos,560,717,914,1184,1357,1600,1806,1164,1278
Kavarskas,528,666,809,972,1113,1191,1287,1041,1546
Smalininkai,446,515,653,758,805,952,1100,1741,0
Troškūnai,372,451,525,672,1174,1417,1495,1252,1000
Panemunė,210,274,329,398,506,545,539,637,0

In [ ]:
miestas.loc['Marijampolė', '1923']

9488

In [ ]:
miestas[["2019", "1970", "1923"]].head(10)

               2019    1970    1923
Miestas
Vilnius      540919  370153  167400
Kaunas       286763  305600   92446
Klaipėda     147898  140342   35845
Šiauliai     100119   92375   21387
Panevėžys     87148   74497   19197
Alytus        50421   28165    6322
Marijampolė   35253   29073    9488
Mažeikiai     32711   13313    4300
Jonava        26715   14563    4115
Utena         25496   13309    4890

In [ ]:
miestas.shape

(103, 9)

In [ ]:
miestas['nr'] = range(1,104)
miestas

,2019,2011,2001,1989,1979,1970,1959,1923,1897,nr
Miestas,,,,,,,,,,
Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532,1
Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920,2
Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100,3
Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128,4
Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968,5
...,...,...,...,...,...,...,...,...,...,...
Dusetos,560,717,914,1184,1357,1600,1806,1164,1278,99
Kavarskas,528,666,809,972,1113,1191,1287,1041,1546,100
Smalininkai,446,515,653,758,805,952,1100,1741,0,101
Troškūnai,372,451,525,672,1174,1417,1495,1252,1000,102
Panemunė,210,274,329,398,506,545,539,637,0,103

In [ ]:
miestas[29:39]

                2019   2011   2001   1989   1979   1970  1959  1923  1897  nr
Miestas
Jurbarkas       9831  11232  13797  14310  10644   6541  4422  4409  7400  30
Raseiniai       9784  11203  12541  13211  11403   8946  6200  5270  7455  31
Vilkaviškis     9621  11547  13283  13829  11836   8452  5072  7263  5788  32
Anykščiai       8632  10575  11958  12758  10325   8250  5442  3500  3900  33
Prienai         8516   9867  11353  11909   9398   7550  5423  3260  2477  34
Joniškis        8358   9899  11329  11773   9303   7488  5889  4100  4828  35
Varėna          7987   9240  10845  12291   8015   4478  2401   407  2624  36
Kelmė           7655   9150  10900  11557   9073   6934  5140  2900  3914  37
Kaišiadorys     7486   8664  10002  10964   9022   4618  3011  1929   833  38
Naujoji Akmenė  7266   9300  12345  13590  14195  10127  5400     0     0  39

In [ ]:
miestas[(miestas['nr']>29) & (miestas['nr']<40)]

                2019   2011   2001   1989   1979   1970  1959  1923  1897  nr
Miestas
Jurbarkas       9831  11232  13797  14310  10644   6541  4422  4409  7400  30
Raseiniai       9784  11203  12541  13211  11403   8946  6200  5270  7455  31
Vilkaviškis     9621  11547  13283  13829  11836   8452  5072  7263  5788  32
Anykščiai       8632  10575  11958  12758  10325   8250  5442  3500  3900  33
Prienai         8516   9867  11353  11909   9398   7550  5423  3260  2477  34
Joniškis        8358   9899  11329  11773   9303   7488  5889  4100  4828  35
Varėna          7987   9240  10845  12291   8015   4478  2401   407  2624  36
Kelmė           7655   9150  10900  11557   9073   6934  5140  2900  3914  37
Kaišiadorys     7486   8664  10002  10964   9022   4618  3011  1929   833  38
Naujoji Akmenė  7266   9300  12345  13590  14195  10127  5400     0     0  39

In [ ]:
miestas.drop('nr', axis = 1, inplace=True)

In [ ]:
miestas[miestas['1959'] == 0]

             2019   2011   2001   1989  1979  1970  1959  1923  1897
Miestas
Visaginas   18185  26804  29554  32438  6212     0     0     0     0
Elektrėnai  11276  12012  14050  15871  8466  6730     0     0     0

In [ ]:
miestas[miestas['1897']>miestas['2019']]

                     2019  2011  2001  1989  1979  1970  1959  1923  1897
Miestas
Zarasai              6140  7349  8365  8916  7250  6624  4700  3785  6359
Švenčionys           4139  4980  5684  6469  5284  4617  4006     0  6025
Kalvarija            3858  4457  5090  5701  5879  5622  4698  4529  9378
Eišiškės             3071  3416  3765  3789  3467  3481  2532  2382  3196
Šeduva               2541  2895  3400  3584  3347  3309  3253  3186  4474
Vilkija              1898  2131  2338  2629  2371  2286  1996  2068  2012
Viekšniai            1670  1938  2270  2410  2781  2748  2734  2024  2951
Kudirkos Naumiestis  1480  1732  1997  2061  2090  2486  2574  3067  4595
Žagarė               1366  1712  2312  2649  2918  3386  3800  4730  8285
Salantai             1360  1615  1942  2431  2086  2156  2321  1942  2446
Linkuva              1277  1679  1797  2025  1876  1950  2144  1851  2077
Simnas               1269  1514  1980  2313  1625  1716  1661  1549  1642
Veisiejai            1211  1430  1762  2079  1687  1450  1513  1295  1540
Jieznas              1023  1204  1476  1883  1854  1658  1803  1000  1255
Varniai               995  1140  1355  2028  2059  2027  1902     0  2834
Daugai                980  1120  1458  2790  2054  1384  1287  1153  1288
Seda                  953  1138  1309  1500  1679  1821  2133  1851  2062
Virbalis              885  1095  1351  1566  1635  1489  1429  4018  3293
Vabalninkas           875  1057  1328  1905  2205  2070  2360  1267  2333
Obeliai               847  1074  1371  1804  1648  1681  1907  1328   975
Dūkštas               765   888  1070  1193  1633  1444  1968  1076  1000
Pandėlys              752   809  1024  1167  1129  1184  1277  1000  1221
Užventis              649   833   898  1149  1229  1406  1704     0   945
Dusetos               560   717   914  1184  1357  1600  1806  1164  1278
Kavarskas             528   666   809   972  1113  1191  1287  1041  1546
Troškūnai             372   451   525   672  1174  1417  1495  1252  1000

In [ ]:
miestas[miestas['2019']>miestas['2011']][['2019','2011']]

                2019    2011
Miestas
Vilnius       540919  535631
Šalčininkai     6753    6402
Baltoji Vokė    1052    1047

In [ ]:
decline = miestas[miestas.diff(axis=1, periods=-1) > 0]
select = decline[decline.isna().all(axis=1)]
select
miestas.loc[select.index]

                     2019  2011  2001  1989  1979  1970  1959  1923  1897
Miestas
Kudirkos Naumiestis  1480  1732  1997  2061  2090  2486  2574  3067  4595
Žagarė               1366  1712  2312  2649  2918  3386  3800  4730  8285

In [ ]:
miestas.idxmax()

2019    Vilnius
2011    Vilnius
2001    Vilnius
1989    Vilnius
1979    Vilnius
1970    Vilnius
1959    Vilnius
1923    Vilnius
1897    Vilnius
dtype: object

In [ ]:

procentaliai = ((miestas['2019'] - miestas['1989']) / miestas['1989']) * 100
print(f'{procentaliai.idxmax()}\t {int(procentaliai.max())}%')
print(f'{procentaliai.idxmin()}\t{int(procentaliai.min())}%')

Neringa	 39%
Daugai	-64%

In [ ]:
procentaliai.min()

-64.87455197132617

In [ ]:
miestas.reset_index()

,Miestas,2019,2011,2001,1989,1979,1970,1959,1923,1897
0,Vilnius,540919,535631,542287,576747,475825,370153,236100,167400,154532
1,Kaunas,286763,315993,378650,419745,370000,305600,216850,92446,70920
2,Klaipėda,147898,162360,192954,202929,176648,140342,89500,35845,20100
3,Šiauliai,100119,109328,133883,145629,118724,92375,59700,21387,16128
4,Panevėžys,87148,99690,119749,126483,102303,74497,41100,19197,12968
...,...,...,...,...,...,...,...,...,...,...
98,Dusetos,560,717,914,1184,1357,1600,1806,1164,1278
99,Kavarskas,528,666,809,972,1113,1191,1287,1041,1546
100,Smalininkai,446,515,653,758,805,952,1100,1741,0
101,Troškūnai,372,451,525,672,1174,1417,1495,1252,1000
102,Panemunė,210,274,329,398,506,545,539,637,0